@import url(main.css);


.page-content {
    width: 100%;
    padding: 8vh 20px;
    margin: 0 auto;
}



/* CONTACT */
.contact__title {
    color: var(--cl-page-title);
    font-size: var(--fs-h4);
    padding-bottom: 3vh;
}
.contact-informations .contact__title {
    padding-top: 8vh;
}
/* CONTACT FORM */
.contact-form input, 
.contact-form textarea {
    padding: 10px;
    margin: 10px 0;
}
.contact-form > .submit-content {
    border-radius: 2px;
    padding: 1rem 3rem;
}

/* BOOK TABLE  */
.book-table .reservation__wrapper {
    margin: 0 auto!important;
    padding: 0 40px;
    padding-bottom: 5vh;
    width: 100%;
    max-width: unset!important;
}
.book-table .reservation__title,
.book-table .reservation__submit {
    text-align: left;
}
.book-table .reservation__title h1 {
    margin-top: 0;
    padding-top: 20px;
}
.book-table .reservation__form-group {
    width: 48%;
}

/* END BOOK TABLE */

/* MAP */
#map {
    width: 100%;
    height: 500px;
    margin: 3vh 0;
}

/* CONTACT INFORMATIONS */
.contact-informations {
    width: 100%;
    font-size: var(--fs-body-big);
}
.contact-informations__infos > li {
    padding: 10px 0;
}
.contact-informations__infos > li > .address,
.contact-informations__infos > li > a {
    font-weight: var(--fw-extra-normal);
    color: var(--cl-btn);
}
.contact-informations__infos > li > .address {
    color: black;
}

@media (min-width:500px) {
    .page-content {
        max-width: 500px;
    }
    .book-table {
        max-width: unset!important;
        width: 100%;
        padding: 0!important;
    }
}
@media (min-width:600px) {
    .page-content {
        max-width: 600px;
    }
}
@media (min-width:800px) {
    .page-content {
        max-width: 1200px;
        padding-top: 0;
    }
    .page-content__top,
    .contact-informations__infos {
        display: flex;
        align-items: stretch;
    }
        .contact-form,
        #map {
            width: 50%;
        }
        .contact-form {
            order: 2;
            padding: 8vh 0;
            padding-left: 4vh;
        }
        #map {
            margin: 0;
            height: auto;
        }
        .book-table .reservation__wrapper {
            order: 2;
            width: 50%;
        }
        .book-table #map {
            width: 50%;
            height: 800px;
        }
    .contact-informations__infos {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contact-informations__infos > li {
        width: 40%;
    }
}
@media (min-width:1000px) {
    .contact-informations__infos > li {
        width: 22%;
    }
}
@media (min-width:1400px) {
    .page-content {
        padding: 0;
        padding-bottom: 8vh;
    }
}