@import url(main.css);

/* CONTACT (only show when screen > 1000 px) */
.contact {
    display: none;
}

/* HEADER */
.header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: var(--fs-header);

    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.header__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header.scrolldown,
.header.scrollup {
    position: fixed;
    z-index: 150;
}
.header.scrolldown {
    animation: scrolldown 0.4s ease-in-out;
}
.header.scrollup {
    top: -200px;
    animation: scrollup 0.4s ease-in-out;
}
@keyframes scrolldown {
    from {
        top: -200px;
    }
    to {
        top: 0;
    }
}
@keyframes scrollup {
    from {
        top: 0;
    }
    to {
        top: -200px;
    }
}

/* NORMAL STYLE */
.header__logo {
    font-size: var(--fs-logo);
}
.header__logo > a {
    color: white;
}

.header__nav-icon {
    color: var(--cl-text-trans-white);
    letter-spacing: 2px;
    cursor: pointer;
}
    .header__nav-icon > i {}
    .header__nav-icon > span {}

.header__nav-wrapper {
    width: 100%;
    overflow: hidden;
}
    .header__nav-menu {
        height: 0;
        -moz-transition: height .5s ease-in-out;
        -ms-transition: height .5s ease-in-out;
        -o-transition: height .5s ease-in-out;
        -webkit-transition: height .5s ease-in-out;
        transition: height .5s ease-in-out;
    }

    .header__nav-menu > li {}
    .header__nav-menu > li > a {
        display: block;
        color: white;
        font-size: var(--fs-body);
        font-weight: var(--fw-extra-normal);
        padding: 1rem 0;
        transition: 0.3s ease-in-out;
    }
    .header__nav-menu .active {
        color: var(--cl-btn);
    }

    .header__nav-menu > li > a:hover {
        color: var(--cl-btn);
    }
    .header__nav-menu > li > .order {
        background-color: var(--cl-btn);
        border-radius: 5px;
        padding-left: 1rem;
        color: white;
    }
    .header__nav-menu > li > .order:hover {
        color: white;
        background-color: var(--cl-btn-hover);
    }


    /* NAV MENU STYLE WHEN SCROLL */
    .header.scrollstyle {
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    .scrollstyle .header__logo a {
        color: black;
    }
    .scrollstyle .header__nav-icon {
        color: var(--cl-text-trans-black);
    }
    .scrollstyle .header__nav-menu > li > a {
        color: black;
    }
    .scrollstyle .header__nav-menu > li > a:hover {
        color: var(--cl-btn);
    }
    .scrollstyle .header__nav-menu .active {
        color: var(--cl-btn);
    }
    .scrollstyle .header__nav-menu .order {
        color: white;
    }
    .scrollstyle .header__nav-menu .order:hover {
        color: white;
    }

@media (min-width:500px) {
    .header {
        padding: 1rem 4rem;
    }
}
@media (min-width:800px) {
    .header {
        padding: 1rem 8rem;
    }
}

@media (min-width:1000px) {
    /* CONTACT */
    .contact {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        color: var(--cl-text-trans-white);
        background-color: rgba(255, 255, 255, 0.05);
        padding: 1rem 2rem;
    }
    .contact__wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact__wrapper,
    .header__wrapper {
        max-width: 900px;
    }
    /* HEADER */
    .header {
        background: transparent;
        position: absolute;
        top: 50px;  /*this one*/
        z-index: 150;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 1rem 2rem;
    }
    .header.scrolldown {
        top: 0;   /*top = 0 to overlay the top 50px above*/
    }
    /* NAV LOGO */
    .header__logo {
 
    }
    /* NAV ICON */
    .header__nav-icon {
        display: none;
    }
    /* NAV MENU */
    .header__nav-wrapper {
        max-width: 750px;
    }
    .header__nav-menu {
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
        .header__nav-menu > li > a,
        .header__nav-menu > li > .order {
            padding: 1rem 2rem;
        }

}
@media (min-width:1400px) {
    .contact__wrapper,
    .header__wrapper {
        max-width: 1200px;
    }
}

