:root {
    --ff-title: 'Great Vibes', cursive;
    --ff-normal: 'Poppins', sans-serif;

    --fw-thin: 200;
    --fw-normal: 400;
    --fw-bold: 700;

    --fs-h1: 3.5rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;

    --fs-logo: 1.8rem;
    --fs-page-title:7rem;
    --fs-body: 1rem;
    --fs-body-big: 1.2rem;
    --fs-header:1.2rem;
    /* COLOR */
    --cl-text-trans-white: rgba(255,255,255,0.5);
    --cl-text-trans-black: rgba(0,0,0,0.5);
    --cl-btn: #c8a97e;
    --cl-btn-hover: #9c8361;
    --cl-section: #fafafa;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;height: 100%;
}
html {
    font-size: 14px;
}
body {
    font-family: var(--ff-normal);
    line-height: 1.5;
    font-weight: var(--fw-normal);
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h1 {
    font-family: var(--ff-title);
    letter-spacing: 3px;
}
img {
    display: block;
    max-width: 100%;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width:500px) {
    :root {
        --fs-h1: 5rem;
    }
}
@media (min-width:1000px) {
    :root {
        --fs-h1: 7rem;
        --fs-h3: 5rem;
    }
}

@keyframes elementShow {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
