@import url(main.css);


/* CUSTOMER */
/* PAGE CUSTOMER */
.page-customers {
    width: 100%;
    padding: 8vh 15px;
    text-align: center;

}

    /* CUSTOMER TITLE */ 
        .page-customers__title > h1 {
            font-size: 5rem;
        }
        .page-customers__title > h2 {
            margin-top: -60px;
            padding-bottom: 8vh;
        }
    

        /* SLIDE WRAPPER */
    .page-customers__slide-wrapper {
        overflow: hidden;
    }
    /* SLIDE BUTTON */

    .page-customers__controls {
        text-align: center;
    }
    .page-customers__controls > li {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
    }
    .page-customers__controls > li > span{
        width: 15px;
        height: 15px;
        display: inline-block;
        background: rgba(0,0,0,0.2);
        border-radius: 50%;
        transition: 0.3s ease-in-out;
    }
    .page-customers__controls > li.active > span{
        background: var(--cl-btn);
        border: 2px solid black;
    }
    .page-customers__controls > li:hover > span{
        background: var(--cl-btn);

    }
    /*SLIDE   */
    .page-customers__slide { 
        display: flex;
        transition: 0.4s ease-in-out;
    }

    /* .page-customers__slide.show0 {
        transform:  translateX(-27%);
    }
    .page-customers__slide.show1 {
        transform:  translateX(-36%);
    }
    .page-customers__slide.show2 {
        transform:  translateX(-45%);
    }
    .page-customers__slide.show3 {
        transform:  translateX(-54%);
    }
    .page-customers__slide.show4 {
        transform:  translateX(-63%);
    } */
    /* SLIDE ITEM */
    .page-customers__slide-item {
        min-height: 1px;
        padding-bottom: 3vh;
        /* opacity: 0.4; */
    }
    .page-customers__slide-item.active {
        opacity: 1;
    }
        /* SLIDE IMAGE */
        .slide-item__image,
        .slide-item__text span, 
        .slide-item__text p {
            user-select: none;
        }
        .slide-item__image {
            width: 140px;
            height: 140px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            position: relative;
            margin:  0 auto;
            margin-bottom: 5vh;
        }
        .slide-item__image::after {
            content: "\f10d";
            font-family: FontAwesome;
            display: block;
            color: white;
            font-size: 1.5rem;
            background: var(--cl-btn);
            line-height: 2;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;right: 10px;
        }
        /* SLIDE TEXT */
        .slide-item__text {
            font-size: var(--fs-body-big);
            color: var(--cl-page-content);
        }
        .slide-item__text span {
            display: block;
        }
        .slide-item__customer-name {
            color: var(--cl-text-trans-extra-black);
            font-weight: var(--fw-extra-normal);
            font-size: var(--fs-h5);
            padding-top: 3vh;
        }
        .slide-item__position {
            font-size: var(--fs-body-small);
            font-weight: var(--fw-extra-normal);
            letter-spacing: 2px;
        }

        
@media (min-width:400px) {
    /* CUSTOMER TITLE */ 
    .page-customers__title > h1 {
        font-size: var(--fs-page-title);
    }
    .page-customers__title > h2 {
        margin-top: -80px;
    }
}
@media (min-width:500px) {
    /* SLIDE WRAPPER */
    .page-customers__slide-wrapper {
        margin: 0 auto;
        max-width: 500px;
    }
}
@media (min-width:750px) {
    /* SLIDE WRAPPER */
    .page-customers__slide-wrapper {
        max-width: 700px;
    }

}
@media (min-width:1000px) {
    /* SLIDE WRAPPER */
    .page-customers__slide-wrapper {
        max-width: 930px;
    }

}
@media (min-width:1200px) {
    /* SLIDE WRAPPER */
    .page-customers__slide-wrapper {
        max-width: 1300px;
    }

}