@import url(main.css);

/* PAGE SPECIALTIES */
.page-specialties {
    width: 100%;
    padding: 8vh 20px;
    text-align: center;
    font-size: var(--fs-body-big);
    color: var(--cl-text-trans-extra-black);
}

    /* SELECT (in menu page)*/
    .page-specialties__select {
        width: 100%;
        padding-bottom: 8vh;
    }
    .page-specialties__select > a {
        display: block;
        background-color: #f6f1e9;
        color: black;
        font-weight: var(--fw-extra-normal);
        font-size: var(--fs-h5);
        margin-bottom: 5px;
        padding: 15px 0;
        transition: 0.3s ease-in-out;
    }
    .page-specialties__select > a.active {
        background-color: var(--cl-btn);
        color: white;
    }
    .page-specialties__select > a:hover {
        background-color: var(--cl-btn-hover2);
        color: white;
    }
    .page-specialties__select > a.active:hover {
        background-color: var(--cl-btn);
        color: white;
    }
    /* MENU WRAPPER */
    .page-specialties__menu-wrapper {
        width: 100%;
    }
    .page-specialties__menu-wrapper .active {
        display: block;
        opacity: 1;
    }
        /* DISHES WRAPPER */
        .page-specialties__main-wrapper {
            display: none;
            opacity: 0;
            /* transition: opacity 0.3s linear; */
        }

    /* TITLE */
    .page-specialties .page-specialties__title > h1 {
        font-size: 4.5rem;
    }
    .page-specialties__title > h2 {
        margin-top: -60px;
        padding-bottom: 8vh;
    }
    /* MENU  */
        .page-specialties__dish {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        /* DISHES IMAGE */
        .dishes__image {
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        /* DISHES DETAILS */
        .dishes__details {
            padding: 30px 20px;
            text-align: left;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            line-height: 2;
        }
            .details__name-price {
                width: 100%;
                display: flex;
                /* white-space: nowrap; */
            }
            .details__name,
            .details__price {
                font-size: var(--fs-h5);
            }
            .details__name {
                width: calc(100% - 80px);
                color: black;
                font-weight: var(--fw-light-bold);
                /* text-overflow: ellipsis; */
                /* overflow: hidden; */
            }
            .details__price {
                width: 80px;
                text-align: right;
                color: var(--cl-btn);
            }
            .details__ingredients {
                display: block;
                padding-bottom: 10px;
            }
            .details__order {
                display: inline-block;
                background-color: var(--cl-btn);
                border: 1px solid var(--cl-btn);
                color: white;
                padding: 5px 10px;
                transition: 0.3s ease-in-out;
            }
            .details__order:hover {
                background-color: white;
                color: var(--cl-btn);
                border: 1px solid var(--cl-btn);
            }
@media (min-width:450px) {
    /* PAGE MENU TITLE */
    .page-specialties .page-specialties__title > h1 {
        font-size: var(--fs-page-title);
    }
    .page-specialties__title > h2 {
        margin-top: -80px;
    }
        /* DISHES IMAGE */
        .dishes__image {
            height: 400px;
        }            
}

@media (min-width:550px) {
    .page-specialties__menu-wrapper,
    .page-specialties__select {
        max-width: 500px;
        margin:  0 auto;
    }
    .page-specialties__dish {
        display: flex;
    }
        .dishes__image {
            width: 50%;
        }  
        .dishes__details {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }            
}
@media (min-width:750px) {
    .page-specialties__menu-wrapper,
    .page-specialties__select {
        max-width: 700px;
        margin:  0 auto;
    }
    .page-specialties__dish:nth-child(3) .dishes__image, 
    .page-specialties__dish:nth-child(4) .dishes__image, 
    .page-specialties__dish:nth-child(7) .dishes__image, 
    .page-specialties__dish:nth-child(8) .dishes__image {
        order: 2;
    }   
       
}
@media (min-width:800px) {
    .page-specialties__select {
        display: flex;
    }
        .page-specialties__select > a{
            width: calc(100%/6);
            background-color: white;
            position: relative;
        }
        .page-specialties__select > a.active::after{
            content: "";
            position: absolute;
            left: 0;right: 0;
            bottom: -15px;
            width: 0;
            margin: 0 auto;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid var(--cl-btn);
        }
}
@media (min-width:1000px) {
    .page-specialties__menu-wrapper,
    .page-specialties__select {
        max-width: 1200px;
    }
    .page-specialties__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
        .page-specialties__dish {
            width: 50%;
            align-self: stretch;
        }
       
}
@media (min-width:1200px) {
    .details__name-price {
        white-space: normal;
    }
}   