@import url(main.css);


/* BLOG */
.page-blog {
    padding-top: 8vh;
    padding-bottom: 8vh;
    line-height: 2;
    background-color: #fafafa;
}
    /* BLOG TITLE */
    .blog__title {
        text-align: center;
        line-height: 1.5;
    }
    .blog__title > h1 {
        font-size: var(--fs-page-title);
    }
    .blog__title > h2 {
        margin-top: -80px;
        margin-bottom: 8vh;
    }

    /* BLOG ITEM */
    .page-blog__blog-item {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: white;
        margin-bottom: 3vh;
    }
    /* IMAGE */
        .blog-item__image {
            display: block;
            width: 100%;
            height: 300px;
            background-color: var(--cl-btn);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        /* DETAILS */
        .blog-item__details {
            padding: 30px 20px;
        }
        .details__date-arthor {
            width: 100%;
            display: flex;
            padding-bottom: 5px;
        }
        .details__date-arthor a,
        .details__comment {
            color: var(--cl-text-trans-light-black);
        }
            .details__date {
                padding-right: 20px;
            }
        .details__title > a {
            color: black;
            font-weight: var(--fw-light-bold);
            font-size: var(--fs-h5);
            border-bottom: 1px solid transparent;
            transition: 0.4s ease-in-out;
        }
        .details__title:hover > a {
            border-bottom: 1px solid black;
        }

        .details__more-comment {
            display: flex;
            justify-content: space-between;  
            padding-top: 10px;
        }
            .details__more {
                 color: var(--cl-text-trans-black);
                border-bottom: 1px solid transparent;
                transition: 0.4s ease-in-out;
            }
            .details__more:hover {
                border-bottom: 1px solid var(--cl-text-trans-light-black);
            }

            /* INDEX NAV */
            .page-blog__index-nav {
                width: 100%;
                padding: 3vh 0;
            }
                .index-nav__wrapper {
                    width: 100%;
                    display: flex; 
                    justify-content: space-between;
                    align-items: center; 
                }
                .index-nav__wrapper a {
                    display: inline-block;
                    text-align: center;
                    color: var(--cl-btn);
                    font-size: var(--fs-h5);
                    border: 1px solid var(--cl-btn);
                    background-color: white;
                    border-radius: 5px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    transition: 0.3s ease-in-out;
                }
                .index-nav__wrapper a:hover {
                    color: white;
                    background-color: var(--cl-btn-hover);
                }
                .page-blog__control {
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                .page-blog__control > li {
                    padding: 2px;
                }
                .index-nav__wrapper > li:hover > a {
                    color: white;
                    background-color: var(--cl-btn-hover);
                }
                .page-blog__control .active,
                .page-blog__control .active:hover {
                    color: white;
                    background-color: var(--cl-btn);
                }


/* BLOG SINGLE - BLOG SECTION */
.blog-section {
    width: 100%;
    padding: 8vh 20px;
    font-size: var(--fs-body-big);
    color: var(--cl-page-content);
}
.blog-section__wrapper {
    margin: 0 auto;
}
/* BLOG TITLE */
.blog-section__title {
    width: 100%;
    background-color: #fafafa;
    padding: 3vh 10px;
    font-size: var(--fs-h4);
    color: var(--cl-page-title);
    font-weight: var(--fw-light-bold);
    margin-bottom: 5vh;
}

    /* BLOG CONTENT */
    .blog-section__content-main > h3 {
        color: black;
        font-weight: var(--fw-extra-normal);
        padding-bottom: 3vh;
    }
    .blog-section__content-main > p {
        padding-bottom: 3vh;
    }
    .blog-section__content-header {
        padding-bottom: 5vh;
    }
    .content-header__title {
        font-size: var(--fs-h2);
        font-weight: var(--fw-light-bold);
        color: black;
    }
    .blog-section__content-header > span {
        padding-right: 5px;
        color: var(--cl-text-trans-black);
    }

    /* BLOG TAGS LIST */
    .blog-section__tag {
        padding-top: 5vh;
        display: flex;
    }
        .blog-section__tag > li {
            padding-right: 5px;
        }

    /* BLOG COMMENTS */
    .blog-section__comment {
        padding: 8vh 0;
    }


        
        /* COMMENT ITEM */
        .comment-list > .comment-item {
            width: 100%;
            float: left;
            padding: 3vh 0;
            clear: both;
            font-size: var(--fs-body);
        }
        .reply li {
            float: left;
            clear: both;
            padding-top: 3vh;
        }
        .comment-list .reply {
            padding-left: 5vh;
        }
            /* AVT */
            .comment-item__comment-avatar {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 4em;
                height: 4em;
                float: left;
                border-radius: 50%;
            }
            /* COMMENT CONTENT */
            .comment-item__comment-content {
                float: right;
                width: calc(100% - 5em);
            }
            /* COMMENT ARTHOR-DATE  */
            .comment-content__arthor-date {
                padding-bottom: 10px;
            }
            .comment-content__name,
            .comment-content__date {
                display: block;
                font-weight: var(--fw-light-bold);
                font-size: 1em;
            }
            .comment-content__name {
                color: black;
            }
            .comment-content__date {
                font-size: 0.8em;
                color: var(--cl-text-trans-light-black);
            }
            /* COMMENT PARAGRAPH */
            .comment-content__content {
                padding-bottom: 10px;
            }
            /* REPLY-LIKE COMMENT */
            /* REPLY */
            .comment-content__reply {
                display: inline-block;
                background-color: #e6e6e6;
                font-size: 0.8em;
                text-transform: uppercase;
                color: black;
                padding: 5px 10px;
                margin-right: 20px;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
            }
            .comment-content__reply:hover {
                background: black;
                color: white;
            }
            /* LIKE  */
            .comment-content__like .like-btn {
                color: var(--cl-page-content);
                transition: 0.3s;
            }
            .comment-content__like .like-btn:hover {
                color: black;
            }
            .comment-content__like > span {
                padding-left: 5px;
            }
        /* CLEAR FIX */
        .comment-list::after {
            content: "";
            display: table;
            clear: both;
        }

/* FORM EDIT */
        /* ADD COMMENT */
        .comment-add {
            width: 100%;
            padding: 5vh 0;
        }
        /* ADD COMMENT FORM */
        .comment-add__form {
            width: 100%;
            padding: 3vh 15px;
            background-color: #fafafa;
        }
            .comment-add__form-ele {padding: 2vh 0;}

            .comment-add__form-ele .input-name {
                display: block;
                width: 100%;
                font-size: var(--fs-body-big);
            }
            .comment-add__form-ele > textarea {
                font-family: inherit;
            }
            .comment-add__form-ele .input-name {
                margin-bottom: 10px;    
            }
            .comment-add__form-ele > textarea {
                resize: none;
            }


/* SIDE BAR */
.blog-section__side-bar {
    width: 100%;
    padding: 0 10px;
}

/* SEARCH SECTION */
.blog-section__search {
    width: 100%;
    padding: 0 15px 25px;
    margin-bottom: 5vh;
}
.search-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
}
.search-wrapper {
    position: relative;
}
.search-wrapper > .input-field {
    font-size: var(--fs-body);
    padding: 6px 12px;
    padding-right: 30px;
    height: 52px;
}
    .search-field {
        padding: 10px;
    }
    .search-field i {
        position: absolute;
        right: 20px;
        top: 0;
        color: var(--cl-page-content);
        line-height: 52px;
        font-size: var(--fs-body);
    }

/* SIDE BAR SECTION TITLE */

.side-bar__title {
    font-weight: var(--fw-normal);
    font-size: var(--fs-h5);
    color: var(--cl-page-title);
    padding-bottom: 3vh;
}

/* CATEGORIES  */
.blog-section__categories {
    padding-bottom: 5vh;
}

.categories > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.categories > li:last-child {
    border-bottom: 1px solid transparent;
}
.categories > li:hover {
    border-bottom-style: dashed;
    border-color: black;
}
.categories > li > a {
    position: relative;
    display: block;
    padding-top: 10px;
    font-size: var(--fs-body);
    color: black;
}
.categories > li > a > span{
    position: absolute;
    top: 10px;right: 0;
    color: var(--cl-btn);
}


/* POPULAR POST  */
.popular-posts__post {
    width: 100%;
}
.popular-posts__post + .popular-posts__post{
    margin-top: 3vh;
}
    .post__image {
        display: block;
        float: left;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 60px;height: 60px;
    }
    .post__post-details {
        float: right;
        width: calc(100% - 80px);
    }
        .post-details__title {
            font-size: var(--fs-body-big);
            font-weight: var(--fw-normal);
            font-weight: var(--fw-light-normal);
            padding-bottom: 5px;
        }
        .post-details__title > a {
            color: var(--cl-page-title);
            transition: 0.3s ease-in-out;
        }
        .post-details__title > a:hover {
            color: var(--cl-btn);
        }
        .post-details__info {
            width: 100%;
            font-size: var(--fs-body-small);
            line-height: 2;
        }
        .post-details__info > a {
            display: inline-block;
            color: var(--cl-text-trans-black);
            margin-right: 5px;
        }
        .post-details__info > .info__date > span::after {
            content: "\f073";
        }
        .post-details__info > .info__arthor > span::after {
            content: "\f007";
        }
        .post-details__info > .info__comment-count > span::after {
            content: "\f086";
        }
        .post-details__info .info__icon::after {
            font-family: FontAwesome;
            padding-right: 2px;
        }
/* CLEAR FIX FLOAT POPULAR POST */
.popular-posts__post::after {
    content: "";
    display: table;
    clear: both;
}

/*TAG GALERIES  */
.blog-section__tag-galeries {
    margin: 0 auto;
    padding: 5vh 0;
}
    .tag {
        display: inline-block;
        font-size: var(--fs-body-small);
        color: black;
        padding: 5px 10px;
        border: 1px solid var(--cl-text-trans-black);
        border-radius: 3px;
        transition: 0.3s ease-in-out;
    }
    .tag:hover {
        background-color: black;
        color: white;
    }
    .blog-section__tag-galeries > a {
        margin: 5px 5px 5px 0;
    }

/* PARAGRAPH */
.blog-section__paragraph {
    padding-bottom: 8vh;
}
.paragraph__paragraph {
    font-size: var(--fs-body);
}

@media (min-width:400px) {
    .blog-section__wrapper {
        max-width: 500px;
    }
    .comment-add__form,
    .blog-section__title {
        padding-left: 35px;
        padding-right: 35px;
    }
    .search-field {
        padding: 10px;
    }
}
@media (min-width:500px) {
    /* BLOG LIST WRAPPER */
    .page-blog__blog-list {
        margin: 0 auto;
        max-width: 400px;
    }
}
@media (min-width:700px) {
    .blog-section__wrapper {
        max-width: 600px;
    }
}
@media (min-width:800px) {
    /* BLOG LIST WRAPPER */
    .page-blog__blog-list {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        .page-blog__blog-item {
            width: 30%;
        }
}
@media (min-width:1000px) {
    .blog-section__wrapper {
        max-width: 900px;
        display: flex;
        justify-content: space-between;
    }
        .blog-section__main {
            width: 70%;
        }
        .blog-section__side-bar {
            width: 25%;
            padding: 0;
        }
            .blog-section__search {
                padding: 0;
            }

}
@media (min-width:1400px) {
    .blog-section__wrapper {
        max-width: 1200px;
    }

}


