@import url(main.css);

/* PAGE SPECIALTIES */
.page-specialties {
    width: 100%;
    padding: 8vh 20px;
    text-align: center;
    font-size: var(--fs-body-big);
    color: var(--cl-text-trans-extra-black);
}
    /* TITLE */
    .page-specialties .page-specialties__title > h1 {
        font-size: 4.5rem;
    }
    .page-specialties__title > h2 {
        margin-top: -60px;
        padding-bottom: 8vh;
    }
    /* MENU  */
    .page-specialties__dishes-wrapper {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
        .page-specialties__dishes {
            width: 100%;
        }
        /* DISHES IMAGE */
        .dishes__image {
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        /* DISHES DETAILS */
        .dishes__details {
            padding: 30px 20px;
            text-align: left;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            line-height: 2;
        }
            .details__name-price {
                width: 100%;
                display: flex;
                white-space: nowrap;
            }
            .details__name,
            .details__price {
                font-size: var(--fs-h5);
            }
            .details__name {
                width: calc(100% - 80px);
                color: black;
                font-weight: var(--fw-light-bold);
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .details__price {
                width: 80px;
                text-align: right;
                color: var(--cl-btn);
            }
            .details__ingredients {
                display: block;
                padding-bottom: 10px;
            }
            .details__order {
                display: inline-block;
                background-color: var(--cl-btn);
                border: 1px solid var(--cl-btn);
                color: white;
                padding: 5px 10px;
                transition: 0.3s ease-in-out;
            }
            .details__order:hover {
                background-color: white;
                color: var(--cl-btn);
                border: 1px solid var(--cl-btn);
            }
@media (min-width:450px) {
    /* PAGE MENU TITLE */
    .page-specialties .page-specialties__title > h1 {
        font-size: var(--fs-page-title);
    }
    .page-specialties__title > h2 {
        margin-top: -80px;
    }
        /* DISHES IMAGE */
        .dishes__image {
            height: 400px;
        }
        /* .dishes__details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        } */
            
}

@media (min-width:550px) {
    .page-specialties__dishes-wrapper {
        max-width: 500px;
        margin:  0 auto;
    }
    .page-specialties__dishes {
        display: flex;
    }
        .dishes__image {
            width: 50%;
            height: 250px;
        }  
        .dishes__details {
            width: 50%;
        }            
}
@media (min-width:750px) {
    .page-specialties__dishes-wrapper {
        max-width: 700px;
        margin:  0 auto;
    }
    .page-specialties__dishes:nth-child(3) .dishes__image, 
    .page-specialties__dishes:nth-child(4) .dishes__image {
        order: 2;
    }   
       
}
@media (min-width:1000px) {
    .page-specialties__dishes-wrapper {
        max-width: 1200px;
        margin:  0 auto;
        display: flex;
        flex-wrap: wrap;
    }
        .page-specialties__dishes {
            width: 50%;
            height: 250px;
        }
       
}
@media (min-width:1200px) {
    .details__name-price {
        white-space: normal;
    }
}   