@import url(main.css);


/* PAGE ENTRY */
.page-entry {
    width: 100%;
    height: 100%;
    position: relative;
}
/* SLIDE */
.entry__slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.entry__slide .slide__item,
.entry__slide .slide__title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}
.entry__slide .slide__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
}
.entry__slide .active {
    z-index: 1;
    opacity: 1;
    visibility: visible;
}
.entry__slide .show {
    animation: slideShow 1s ease;
}
.entry__slide .hide {
    animation: slideHide 1s ease;
}
@keyframes slideShow {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}
@keyframes slideHide {
    from {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
    }
}
.entry__slide .active > .slide__title {
    z-index: 2;
}
.entry__slide .slide__title {
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    letter-spacing: 3px;
}
    .slide__item:nth-child(1) .slide__title,
    .slide__item:nth-child(2) .slide__title {
        padding-top: 32vh;
    }
    
    .slide__item:nth-child(3) .slide__title {
        padding-top: 30vh;
    }
.title__logo,
.title__small-text {
    /* above break point */
    animation: elementShow 1s ease-in-out;
}

.title__logo {
    color: var(--cl-btn);
    font-size: var(--fs-h1);
}
.title__small-text {
    display: block;
    font-size: var(--fs-h3);
    text-transform: uppercase;
}
/* BUTTON */
.entry__controls {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    top: 42%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}
    .entry__controls i {
        color: white;
        font-size: var(--fs-logo);
        cursor: pointer;
    }
    .page-entry:hover .entry__controls {
        padding: 0 1rem;
        opacity: 1;
        visibility: visible;
    }




/* PAGE DISH ICON */
.page-dishIcon {
    width: 100%;
    padding-top: 8vh;
}
    .page-dishIcon img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 0 auto;
    }
    .dishIcon__item {
        text-align: center;
        visibility: hidden;
        opacity: 0;
        padding-bottom: 20px;
        animation: elementShow 1s ease-in-out forwards;
    }
    .dishIcon__item:nth-child(1){
        animation-delay: 0.4s;
    }
    .dishIcon__item:nth-child(2){
        animation-delay: 0.6s;
    }
    .dishIcon__item:nth-child(3){
        animation-delay: 0.8s;
    }
    .dishIcon__item:nth-child(4){
        animation-delay: 1s;
    }

    .item__text {
        color: var(--cl-text-trans-black);
        text-transform: capitalize;
    }
    .item__text h5 {
        font-weight: var(--fw-normal);
        font-size: var(--fs-h5);
        color: black;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }


@media (min-width:800px) {
    /* PAGE DISH ICON */
    .page-dishIcon {
        padding: 5vh 0;
    }
    .dishIcon__wrapper {
        display: flex;
        justify-content: space-between;
    }
        .dishIcon__item {
            padding: 0 1rem;
        }
}
@media (min-width:1000px) {
    
    /* PAGE DISH ICON */
    .page-dishIcon {
        position: absolute;
        top: 70vh;
        z-index: 100;
        padding: 0 1rem;
        /* padding-bottom: 1rem; */
    }
        .dishIcon__wrapper {
            margin: 0 auto;
            max-width: 1600px;
            padding-top: 4rem;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
        .dishIcon__item {
            padding-bottom: 8vh;
        }
        .item__text {
            color: var(--cl-text-trans-white);
        }
        .item__text h5 {
            color: white;
        }
}