:root {
    --ff-title: 'Great Vibes', cursive;
    --ff-normal: 'Poppins', sans-serif;

    --fw-thin: 200;
    --fw-light-normal: 300;
    --fw-normal: 400;
    --fw-extra-normal: 500;
    --fw-light-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-max-bold: 900;

    --fs-h1: 3.5rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;

    --fs-logo: 1.8rem;
    --fs-page-title:7rem;
    --fs-body-small: 0.8rem;
    --fs-body: 1rem;
    --fs-body-big: 1.2rem;
    --fs-header:1.2rem;
    --fs-icon: 5rem;
    /* COLOR */
    --cl-text-trans-white: rgba(255,255,255,0.5);
    --cl-text-trans-extra-white: rgba(255,255,255,0.7);
    --cl-text-trans-light-black: rgba(0,0,0,0.3);
    --cl-text-trans-black: rgba(0,0,0,0.5);
    --cl-text-trans-extra-black: rgba(0,0,0,0.8);
    --cl-page-title: #333333;
    --cl-page-content: #666666;
    --cl-btn: #c8a97e;
    --cl-btn-hover: #9c8361;
    --cl-btn-hover2: #c09d6c;
    --cl-section: #fafafa;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;height: 100%;
}
html {
    font-size: 14px;
}
body {
    font-family: var(--ff-normal);
    line-height: 1.5;
    font-weight: var(--fw-normal);
    overflow-x: hidden;
    background: #fff;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
}
h1 {
    font-family: var(--ff-title);
    letter-spacing: 3px;
}
img {
    display: block;
    max-width: 100%;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}
/*PAGE TITLE */
.section__title > h1 {
    font-weight: var(--fw-normal);
    color: var(--cl-btn);
}
.section__title > h2 {
    font-weight: 800;
    font-size: var(--fs-h2);
    color: var(--cl-page-title);
}
.show {
    animation: elementShow 0.5s ease-in-out forwards;
}
@keyframes elementShow {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
input {
    appearance: none;
}
textarea {
    resize: none;
}
.input-field {
    display: block;
    width: 100%;
    height: inherit; 
    font-size: var(--fs-body-big);
    border-radius: 2px; 
    font-family: inherit;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
}
/* SUBMIT BUTTON */
.submit-content {
    display: inline-block;
    width: auto;
    height: inherit; 
    font-size: var(--fs-body-big);
    border-radius: 2px; 
    border: none;
    outline: none;
    background-color: var(--cl-btn);
    border: 1px solid var(--cl-btn);
    color: white;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.submit-content:hover {
    background-color: white;
    color: var(--cl-btn);
}
@media (min-width:500px) {
    :root {
        --fs-h1: 5rem;
    }
}
@media (min-width:500px) {
    .row {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width:1000px) {
    :root {
        --fs-h1: 7rem;
        --fs-h3: 5rem;
        --fs-page-title:8rem;
    }
}





